@{
    ViewData["Title"] = "About";
}

<div class="jumbotron text-center" style="background-image: url('/images/nasa-logo.png'); background-repeat: no-repeat; background-position: right;">
    <h1 class="display-4">Welcome to Climate Story</h1>
    <p class="lead">Explore how Earth's climate is changing with data-driven insights powered by NASA.</p>
    <hr class="my-4">
    <p>Get started by viewing CO2 emissions across Canada or exploring stories about the impact of climate change.</p>
    <a class="btn btn-primary btn-lg" href="/Home/CO2Emissions" role="button">View CO2 Emissions</a>
    <a class="btn btn-primary btn-lg" href="/Home/Stories" role="button">View Stories</a>
</div>

