@{
    ViewData["Title"] = "Resources";
}

<div class="container">
    <h2>Resources for Climate Advocacy</h2>
    <p>Here are some organizations and institutions you can reach out to for more information, help, and advocacy:</p>
    
    <ul>
        <li>
            <a href="https://www.canada.ca/en/services/environment/weather.html" target="_blank">Government of Canada - Environment and Climate Change</a>
        </li>
        <li>
            <a href="https://www.wri.org/" target="_blank">World Resources Institute</a>
        </li>
        <li>
            <a href="https://www.nrdc.org/" target="_blank">Natural Resources Defense Council</a>
        </li>
        <li>
            <a href="https://www.greenpeace.org/" target="_blank">Greenpeace</a>
        </li>
        <li>
            <a href="https://www.worldwildlife.org/" target="_blank">World Wildlife Fund</a>
        </li>
    </ul>

    <h3>Advocacy Tips</h3>
    <p>Here are some ways you can advocate for climate action:</p>
    <ul>
        <li>Engage with your community by participating in local environmental events.</li>
        <li>Reach out to local representatives to express your concerns about climate change.</li>
        <li>Share information and educate others about climate issues.</li>
    </ul>
</div>
